html
  head
    script(src='/javascripts/vue_2.5.16.min.js')
    script(src='/javascripts/axios.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title pug demo
  body
    #app
      div vue3模板,
      div 这里只能作为入口文件,如果另外引入script setup写组件,有点太重了.
      
    script.
      new Vue({
        el: '#app',
        data: {
          count: 0
        },
        methods:{
          handleClick(){
            this.count++
          }
        },
        computed: {
          computedCount() {
            return this.count*2
          }
        }
      })
    style.
      .my-class {
        background-color:lightgreen;
      }